# Include only specific directories from submission: sim/, src/, sv/, test_files/, uvm/
# Exclude everything else first
/*

# Then include only what we want from submission folder
!team_11_final_project_submission/
team_11_final_project_submission/*
!team_11_final_project_submission/sim/
!team_11_final_project_submission/src/
!team_11_final_project_submission/sv/
!team_11_final_project_submission/test_files/
!team_11_final_project_submission/uvm/
!.gitignore
!README.md

