# Include only specific directories from submission: sim/, src/, sv/, test_files/, uvm/
# Exclude everything else first
/*

# Then include only what we want from submission folder

!sim/
!src/
!sv/
!final_report.pdf

!uvm/
!.gitignore
!README.md

